.list-card {
  border: 1px solid #f5f5f5;
  padding: 12px;
  border-radius: 6px;
  margin-bottom: 10px;
  cursor: pointer;
  width: 250px;
  transition: background 0.2s;
}

.list-card:hover {
  background: #bfd1ff;
}
