body{
    background: #c7f2fa;
}

.login-page {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 30px 30px 60px;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  color: #253454;
  background: #c7f2fa;
}

.login-header {
  margin-bottom: 0;
}

.login-title {
  margin-top: 0;
  font-size: 64px;
  font-weight: 800;
  text-align: center;
}

.login-form {
  width: 420px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 24px;
  border-radius: 20px;
  background: linear-gradient(165deg, #ffffff -10%, #517fff 150%);
  border: 1px solid #eef2f7;
}

.login-input {
  border: 1px solid #517fff50;
  background: #ffffff00;
  border-radius: 14px;
  padding: 14px 16px;
  font-size: 18px;
  font-weight: 800;
  color: #253454;
  outline: none;
}

.login-input::placeholder {
  color: #253454;
  opacity: 0.65;
}

.login-button{
  border: 1px solid #3296f9;
  background: linear-gradient(135deg, #ffffff -10%, #3296f9 100%);
  color: #253454;
  padding: 10px 14px;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 800;
  cursor: pointer;
  transition: transform 100ms ease, border-color 100ms ease;
}

.login-button:hover{
  border:1px solid #3249f9;
  background: linear-gradient(135deg, #fac7c7 -10%, #3249f9 80%);
  transform: translateY(-1px);
}